
@{
    ViewData["Title"] = "Index";
    var dateRange = ViewBag.StartDate + " - " + ViewBag.EndDate;
}

    <div class="card card-success card-outline">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        Line List
                        <br />
                        <small>Total Patients: <span class="total_ctr"></span></small>
                    </h5>
                </div>
                <div class="col-md-6">
                    <div class="fa-pull-right form-inline ml-3">
                        <!-- INPUT -->
                        <input class="form-control form-control-sm bg-white"
                               id="daterange"
                               name="daterange"
                               readonly
                               style="cursor:pointer;"
                               type="text"
                               value="@dateRange" />
                        <input class="form-control form-control-sm"
                               name="search"
                               id="searchDetail"
                               placeholder="Search name"
                               type="text" />
                        <button id="searchPatientBtn" type="button" class="btn btn-sm btn-success">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" id="list_sop">
            <div class="overlay d-flex justify-content-center align-items-center">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
            <br />
            <br />

        </div>
        <div id="sop-sop" style="margin: auto; margin-bottom: 20px;"></div>
    </div>

<script>
    var vessel = $('#sop-sop');
    var c = [];
    c.push(qFix($('#searchDetail').val()));
    c.push(qFix($('#daterange').val()));
    LoadList(c, vessel, '@Url.Action("SopFormJson","Sop")');

    $(function () {
        $('#searchPatientBtn').on('click', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
            var q = []
            q.push(qFix($('#searchDetail').val()));
            q.push(qFix($('#daterange').val()));
            LoadList(q, vessel, '@Url.Action("SopFormJson","Sop")');
        });

        $('input[name="daterange"]').daterangepicker({
            format: 'DD/MM/YYYY',
            startDate: '@ViewBag.StartDate',
            endDate: '@ViewBag.EndDate',
            opens: 'left'
        });
    })

</script>