@model List<SopLess>

@if (Model.Count() != 0)
{
    <table class="table table-hover table-bordered table-responsive table-striped" style="white-space: nowrap!important ">
        <thead class="bg-gray">
            <tr>
                <th class="text-center text-sm">
                    PATIENT NAME
                </th>
                <th class="text-center text-sm">
                    AGE
                </th>
                <th class="text-center text-sm">
                    SEX
                </th>
                <th class="text-center text-sm">
                    DATE OF BIRTH
                </th>
                <th class="text-center text-sm">
                    CONTACT NUMBER
                </th>
                <th class="text-center text-sm">
                    CURRENT ADDRESS
                </th>
                <th class="text-center text-sm">
                    PERMANENT ADDRESS
                </th>
                <th class="text-center text-sm">
                    DISEASE-REPORTING UNIT
                </th>
                <th class="text-center text-sm">
                    DATE ONSET SYMPTOMS
                </th>
                <th class="text-center text-sm" colspan="2">
                    DATE &amp; TIME OF COLLECTION
                </th>
                <th class="text-center text-sm">
                    NAME OF SWABBER
                </th>
                <th class="text-center text-sm">
                    REQUESTED BY
                </th>
                <th class="text-center text-sm">
                    CONTACT NUMBER
                </th>
                <th class="text-center text-sm">
                    TYPE OF SPECIMEN &amp; COLLECTION MEDIUM
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sop in Model)
            {
            <tr>
                <td class="text-center text-sm">
                    @sop.PatientName
                </td>
                <td class="text-center text-sm">
                    @sop.Age
                </td>
                <td class="text-center text-sm">
                    @sop.Sex
                </td>
                <td class="text-center text-sm">
                    @sop.DateOfBirth.GetDate("dd-MMM-yy")
                </td>
                <td class="text-center text-sm">
                    @sop.ContactNo
                </td>
                <td class="text-center text-sm">
                    @sop.CAddress
                </td>
                <td class="text-center text-sm">
                    @sop.PAddress
                </td>
                <td class="text-center text-sm">
                    @sop.DRU
                </td>
                <td class="text-center text-sm">
                    @sop.DateOnset.GetDate("dd-MMM-yy")
                </td>
                <td class="text-center text-sm">
                    @sop.DateTimeCollection.GetDate("dd-MMM-yy")
                </td>
                <td class="text-center text-sm">
                    @sop.DateTimeCollection.GetDate("h:mm tt")
                </td>
                <td class="text-center text-sm">
                    @sop.Swabber
                </td>
                <td class="text-center text-sm">
                    @sop.RequestedBy
                </td>
                <td class="text-center text-sm">
                    @sop.RequesterContact
                </td>
                <td class="text-center text-sm">
                    @sop.SpecimenCollection
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <span>
            <i class="fa fa-exclamation-triangle"></i> No patients found!
        </span>
    </div>
}