@model PaginatedList<UserLess>
@if (Model.Count() != 0)
{<div class="table-responsive">
        <table class="table table-striped table-hover" style="font-size: 14px;">
            <thead>
                <tr class="bg-black">
                    <th>Name</th>
                    <th>Facility</th>
                    <th>Contact / Email</th>
                    <th>Designation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var email = item.Email ?? "NONE";
                    var contactNo = item.ContactNo ?? "NONE";
                    <tr>
                        <td>
                            <a class="text-warning text-bold"
                               style="cursor:pointer; font-size: 16px !important;"
                               data-toggle="ajax-modal"
                               data-target="#small_modal"
                               data-action="#small_content"
                               data-url="@Url.Action("UpdateUser","Admin", new { userId = item.Id })">
                                @item.Fullname
                            </a>
                        </td>
                        <td>@item.Facility</td>
                        <td>
                            @contactNo<br />
                            <small class="text-success">(@email)</small>
                        </td>
                        <td>@item.Designation</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning">
        <span>
            <i class="fa fa-exclamation-triangle"></i> No Users found!
        </span>
    </div>
}
@await Html.PartialAsync("~/Views/Shared/_PageList.cshtml", new PageListModel
{
    Action = "LabUsers",
    HasNextPage = Model.HasNextPage,
    HasPreviousPage = Model.HasPreviousPage,
    PageIndex = Model._pageIndex,
    TotalPages = Model._totalPages,
    Parameters = new Dictionary<string, string>
    {
        { "page", Model._pageIndex.ToString() },
        { "q", ViewBag.Search }
    }
})
<script>
    $('#ctr').html('@Model._itemCount');
</script>